/* Mobile */

@media only screen and (max-width: 450px) {

#sub_header img {
  margin-bottom: 0px;
}

#content, #banner {
  padding: 10%;
  margin: 0;
}

.overlay_content {
  display: none;
}

/* Mobile Menu */

li .menu {
  margin-top: 5px;
}

.menu {
  display: inline-block;
  cursor: pointer;
  margin-bottom: -10px;
}

/* Mobile Menu Button */

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 4px;
  margin: 6px 0;
  background-color: #fff;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(0px, 14px);
  transform: rotate(-45deg) translate(0px, 14px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(0px, -14px);
  transform: rotate(45deg) translate(0px, -14px);
}

}