/* Mobile */

@media only screen and (max-width: 1280px) {

#sub_header img {
  margin-bottom: 0px;
}

#content, #banner {
  padding: 10% 5% 10% 5%;
  margin: 0;
}

#banner {
  background-image: url("banner_mobile.jpg");
}

/*.overlay_content {
  display: none;
}*/

#sub_header li {
  -webkit-tap-highlight-color: #434343; /* As the :active pseudoclass doesn't work on safari */
  transition: 0s;
  border-radius: 3px;
}

/* Mobile Menu */

#sub_header .menu {
  display: inline-block;
  cursor: pointer;
  margin-bottom: -12px;
}

/* Mobile Menu Button */

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 4px;
  margin: 6px 0;
  background-color: #fff;
  transition: 0.4s;
}

.bar3 {
  margin-bottom: 5px;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(0px, 14px);
  transform: rotate(-45deg) translate(0px, 14px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(0px, -14px);
  transform: rotate(45deg) translate(0px, -14px);
}

/* Overwrite styles on devices with no hover capabilities */

@media (hover: none) {
  #sub_header li:hover { 
    background-color: inherit;
    transition: 0s;
  }
}

 /* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 0;
  width: 100%;
  margin-top: 75px;
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  background-color: #1e1e1e; /* Black fallback color */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay_content {
  position: relative;
  /*top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  /*text-align: center;*/
  padding-top: 15px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  border-top: 1px solid #555555;
}

.overlay_content li {
  width: 75%;
  margin: auto;
  border-bottom: 1px solid #555555;
  padding-left: 0;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
} 

.closebtn {
  font-size: 42px;
  -webkit-transform: translate(-3px, -4px);
  transform: translate(-3px, -4px);
  font-weight: 600;
}

}