html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  height: 100%;
  /*image-rendering: -webkit-optimize-contrast; /* fix downscale blurryness in Chrome */
}

body {
  background-color: #1e1e1e;
  color: #cecece;
  font-family: "Segoe UI", Tahoma, Helvetica, Arial, Verdana, sans-serif;
  font-size: 20px;             
  margin: 0;
  padding: 0;
  text-align: justify;
  height: 100%;
}

#header, #banner, #content, #footer {
  max-width: 1250px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #a5d7e4;
  transition: 0.2s;
}

a:hover {
  color: #fff;
  transition: 0.2s;
}

#button a, #li a {
  display: block;
}

hr {
    color: #555555;
    background-color: #555555;
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #555555;
}

.omegatitle {
  font-size: 35px;
  font-weight: bold;
  padding-top: 50px;
}

#title {
  font-size: 25px;
}

#subtitle {
  font-size: 23px;
}

#button {
  padding: 15px 15px 15px 15px;
  font-size: 25px;
  text-align: center;
  border: 2px solid #434343;
  border-radius: 10px;
  background-color: #2e2e2e;
  max-width: 500px;
  transition: 0.2s;
}

#button:hover {
  background-color: #434343;
  transition: 0.2s;
}

#header {
  background-color: #2e2e2e;
  font-size: 25px;
  padding: 5px 20px 5px 20px; /*top right bottom left*/
}

#logo {
  padding-top: 10px;
}

#logo img {
  width: 70px;
  height: auto;
}

#sub_header {
  margin: 0; 
  list-style-type: none;
}

#sub_header > li {
  display: inline-block; 
  transition: all .2s linear; 
  padding: 10px 20px 10px 20px;
}

#sub_header > li > a {
  color: #FFF; 
  display: block; 
  transition: 0.2s;
}

#sub_header > li:hover {
  color: #FFF; 
  background-color: #434343; 
  transition: 0.2s; 
  border-radius: 3px;
}

#sub_header img {
  margin-bottom: -5px;
  width: 25px;
  height: auto;
}

#banner {
  color: #fff;
  text-shadow: 2px 2px #595959;
  background-image: url("banner.jpg");
  background-size: cover; /*fa sì che un immagine in bg copra l'intero div*/
  padding: 80px 0px 80px 60px; 
}

#content {
  padding: 40px 80px 0 80px;
  box-sizing: border-box;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-bottom: 60px;
}

#container {
  text-align: center;
  border: 2px solid #434343;
  border-radius: 10px;
  background-color: #2e2e2e;
}

#container td {
  padding: 10px 25px 10px 25px;
  transition: 0.2s;
}

#highlight {
  transition: 0.2s;
  padding: 5px 5px 5px 5px;
}

#highlight:hover {
  background-color: #434343;
  border-radius: 10px;
  transition: 0.2s;
}

#footer {
  font-size: 15px;
  color: #b8b8b8;
  background-color: #2e2e2e;
  padding: 15px 40px 15px 40px;
}

#footer img {
  width: 15px;
  height: auto;
  margin-bottom: -2px;
  padding-left: 8px;
}

#footer a {
  color: #b8b8b8;
}

#input {
  background-image: url('search.svg');
  background-size: 20px;
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  background-color: #434343;
  color: #cecece;
  width: 100%;
  box-sizing: border-box; /* include il padding in larghezza e altezza */
  font-size: 16px;
  padding: 12px 0px 12px 40px;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 20px; /* Add some space below the input */
  transition: 0.2s;
}

#input:focus {
  outline:none!important; /* da finire */
  background-color: #2e2e2e;
  transition: 0.2s;
}

#option {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#option li a {
  border: 0px solid #434343; /* Add a border to all links */
  border-radius: 5px;
  margin-top: -1px; /* Prevent double borders */
  margin-bottom: 10px;
  background-color: #2e2e2e; /* Grey background color */
  padding: 12px; /* Add some padding */
  font-size: 18px;
  display: block; /* Make it into a block element to fill the whole list */
}

#option li a:hover:not(.header) {
  background-color: #434343; /* Add a hover effect to all links, except for headers */
}


/* Dropdown */

.dropbtn {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2e2e2e;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; /*set the overlap level*/
  right: 0;
  margin-top: 20px;
  margin-right: -20px;
  border-radius: 3px;
  font-size: 22px;
  
}

.dropdown-content hr {
  margin: 0 5px 0 5px;
}

.dropdown-content a {
  padding: 12px 16px 12px 20px;
  text-align: left;
  display: block;
}

.dropdown-content a:hover {
  background-color: #434343;
}

/* Show the dropdown menu (JS) */
.show {
  display:block;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  padding: 10px 10px 5px 10px;
  margin-top: 10px;
}

.slideshow-container img {
  border-radius: 10px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the left */
.prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 20px 2px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #bbb;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Spoiler system */

.spoilerbutton {
  display: block;
  margin-bottom: 10px;
  margin-top: 25px;
  padding: 10px 10px 10px 10px;
  font-size: 20px;
  background-color: #2e2e2e;
  color: #cecece;
  border: 2px solid #434343;
  border-radius: 5px;
  transition: 0.2s;
}

.spoilerbutton:hover {
  background-color: #434343;
  cursor: pointer;
  transition: 0.2s;
}

.spoiler {
  overflow: hidden;
  background-color: #2e2e2e;
  border-radius: 10px;
  padding: 0 25px 0 25px;
}

.spoiler > div {
  margin: 5px;
  overflow: hidden;
  transition: all 1s ease;
  transition: 1s;
}

.spoiler a {
  transition: 0.2s;
  display: block;
}

.spoiler a:hover {
  border-radius: 5px;
  background-color: #434343;
  transition: 0.2s;
  padding: 10px 10px 10px 10px;
  transition: 0.2s;
}

.spoilerbutton[value="Other Languages"]+.spoiler>div {
  max-height: 0px;
}

.spoilerbutton[value="Hide"]+.spoiler>div {
  max-height: 800px;
}


/* Modal Images */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }